doctype html
html(lang='en')
    head
        title= title

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='Testing Description')
        meta(name='author' content='Testing Author')

        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700')

        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/styles.css')
    body
        div(id='myModal' class='modal')
            div(class='modal-content')
                div(class='modal-header')
                    span(class='close') &times;
                    h2 Modal Header
                div(class='modal-body')
                    p Some text in the Modal body
                    p Some other text...
                div(class='modal-footer')
                    h3 Modal Footer
                    
        header(class='header')
            div(class='container clearfix')
                img(class='profile-image img-fluid float-left' src='/images/profile.png' alt='Jared Diehl')
                div(class='profile-content float-left')
                    h1(class='name') Jared Diehl
                    h2(class='desc') Full Stack Developer
                    ul(class='social list-inline')
                        li(class='list-inline-item')
                            a(href='https://twitter.com/jaredmdiehl')
                                i(class='fab fa-twitter')
                        |                    
                        li(class='list-inline-item')
                            a(href='https://plus.google.com/109388026913305212209')
                                i(class='fab fa-google-plus-g')
                        |                    
                        li(class='list-inline-item')
                            a(href='https://www.linkedin.com/in/jared-michael-diehl/')
                                i(class='fab fa-linkedin-in')
                        |                    
                        li(class='list-inline-item')
                            a(href='https://github.com/jaredible')
                                i(class='fab fa-github-alt')
                        |                    
                        li(class='list-inline-item')
                            a(href='https://stackoverflow.com/users/story/8322371')
                                i(class='fab fa-stack-overflow')
                        |                    
                        li(class='list-inline-item last-item')
                            a(href='https://codepen.io/Jaredible')
                                i(class='fab fa-codepen')
                        |                    
                    |  
                button(id='myBtn' class='btn btn-cta-primary float-right')
                    i(class='fas fa-paper-plane')
                    |  Contact Me
                |               

        div(class='container sections-wrapper')
            div(class='row')
                div(class='primary col-lg-8 col-12')
                    section(class='about section')
                        div(class='section-inner')
                            h2(class='heading') About Me
                            div(class='content')
                                p Write a brief intro about yourself. It's a good idea to include your personal interests and hobbies as well. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. Commodo ligula eget dolor. Aenean massa.

                    section(class='latest section')
                        div(class='section-inner')
                            h2(class='heading') Latest Projects
                            div(class='content')
                                div(class='item featured text-center')
                                    h3(class='title')
                                        a(href='#' target='_blank') KickStarter - Velocity
                                    p(class='summary') A popular Bootstrap 4 theme for promoting startup products
                                    div(class='featured-image has-ribbon')
                                        a(href='#' target='_blank')
                                            img(class='img-fluid project-image' src='/images/project-featured.png' alt='project name')
                                        div(class='ribbon')
                                            div(class='text') New
                                    div(class='desc text-left')
                                        p You can promote your main project here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                                    a(class='btn btn-cta-secondary' href='#' target='_blank')
                                        i(class='fas fa-thumbs-up')
                                        |  Back my project
                                
                                hr(class='divider')

                                div(class='item row')
                                    a(class='col-md-4 col-12' href='#' target='_blank')
                                        img(class='img-fluid project-image' src='/images/project-1.png' alt='project name')
                                    div(class='desc col-md-8 col-12')
                                        h3(class='title')
                                            a(href='' target='_blank') Instance - Bootstrap 4 Portfolio Theme for Aspiring Full Stack Developers
                                        p(class='mb-2') You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.
                                        p
                                            a(class='more-link' href='#' target='_blank')
                                                i(class='fas fa-external-link-alt')
                                                | Find out more

                    section(class='projects section')
                        div(class='section-inner')
                            h2(class='heading') Other Projects
                            div(class='content')

                    section(class='experience section')
                        div(class='section-inner')
                            h2(class='heading') Work Experience
                            div(class='content')
                                div(class='item')
                                    h3(class='title') Co-Founder &amp; Lead Developer - 
                                        span(class='place')
                                            a(href='#') Startup Hub
                                        |  
                                        span(class='year') (2014 - Present)
                                    p Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.

                    section(class='github section')
                        div(class='section-inner')
                            h2(class='heading') My GitHub

                div(class='secondary col-lg-4 col-12')
                    aside(class='info aside section')
                        div(class='section-inner')
                            h2(class='heading sr-only') Basic Information
                            div(class='content')
                                ul(class='list-unstyled')
                                    li
                                        i(class='fas fa-map-marker-alt')
                                        span(class='sr-only') Location:
                                        | St. Louis, US
                                    li
                                        i(class='fas fa-envelope')
                                        span(class='sr-only') Email:
                                        a(href='mailto:jared@jaredible.net') jared@jaredible.net
                
                    aside(class='skills aside section')
                        div(class='section-inner')
                            h2(class='heading') Skills
                            div(class='content')
                                p(class='intro') Intro about your skills goes here. Keep the list lean and only show your primary skillset. You can always provide a link to your Linkedin or Coderwall profile so people can get more info there.
                                div(class='skillset')
                                    div(class='item')
                                        h3(class='level-title') Python &amp; Django
                                            span(class='level-label' data-toggle='tooltip' data-placement='left' data-animation='true' title='You can use the tooltip to explain more about your skill level...')
                                                i(class='fas fa-info-circle')
                                                | Expert
                                        div(class='level-bar')
                                            div(class='level-bar-inner' data-level='96%')
                                            |                                       
                                        |                                  

                                    div(class='item')
                                        h3(class='level-title') Javascript &amp; JQuery
                                            span(class='level-label' data-toggle='tooltip' data-placement='left' data-animation='true' title='You can use the tooltip to explain more about your skill level...')
                                                i(class='fas fa-info-circle')
                                                | Expert
                                        div(class='level-bar')
                                            div(class='level-bar-inner' data-level='96%')
                                            |                                       
                                        |                                  

                                    div(class='item')
                                        h3(class='level-title') HTML5, CSS3, SASS &amp; LESS
                                            span(class='level-label' data-toggle='tooltip' data-placement='left' data-animation='true' title='You can use the tooltip to explain more about your skill level...')
                                                i(class='fas fa-info-circle')
                                                | Expert
                                        div(class='level-bar')
                                            div(class='level-bar-inner' data-level='96%')
                                            |                                       
                                        |                                  
                                    
                                    div(class='item')
                                        h3(class='level-title') Ruby on Rails
                                            span(class='level-label' data-toggle='tooltip' data-placement='left' data-animation='true' title='You can use the tooltip to explain more about your skill level...')
                                                i(class='fas fa-info-circle')
                                                | Expert
                                        div(class='level-bar')
                                            div(class='level-bar-inner' data-level='96%')
                                            |                                       
                                        |                                  
                                    
                                    div(class='item')
                                        h3(class='level-title') Python &amp; Django
                                            span(class='level-label' data-toggle='tooltip' data-placement='left' data-animation='true' title='You can use the tooltip to explain more about your skill level...')
                                                i(class='fas fa-info-circle')
                                                | Expert
                                        div(class='level-bar')
                                            div(class='level-bar-inner' data-level='96%')
                                            |                                       
                                        |                                  
                                    
                                    div(class='item')
                                        h3(class='level-title') Javascript &amp; JQuery
                                            span(class='level-label' data-toggle='tooltip' data-placement='left' data-animation='true' title='You can use the tooltip to explain more about your skill level...')
                                                i(class='fas fa-info-circle')
                                                | Expert
                                        div(class='level-bar')
                                            div(class='level-bar-inner' data-level='96%')
                                            |                                       
                                        |                                  

                                    div(class='item')
                                        h3(class='level-title') HTML5, CSS3, SASS &amp; LESS
                                            span(class='level-label' data-toggle='tooltip' data-placement='left' data-animation='true' title='You can use the tooltip to explain more about your skill level...')
                                                i(class='fas fa-info-circle')
                                                | Expert
                                        div(class='level-bar')
                                            div(class='level-bar-inner' data-level='96%')
                                            |                                       
                                        |                                  
                                    
                                    div(class='item')
                                        h3(class='level-title') Ruby on Rails
                                            span(class='level-label' data-toggle='tooltip' data-placement='left' data-animation='true' title='You can use the tooltip to explain more about your skill level...')
                                                i(class='fas fa-info-circle')
                                                | Expert
                                        div(class='level-bar')
                                            div(class='level-bar-inner' data-level='96%')
                                            |                                       
                                        |                                  

                                    p
                                        a(class='more-link' href='#')
                                            i(class='fas fa-external-link-alt')
                                            | More on Coderwall

                    aside(class='testimonials aside section')
                        div(class='section-inner')
                            h2(class='heading') Testimonials
                            div(class='content')
                                div(class='item')
                                    blockquote(class='quote')
                                        p
                                            i(class='fas fa-quote-left')
                                            | James is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!
                                    p(class='source')
                                        span(class='name') Time Adams
                                        br
                                        span(class='title') Curabitur commodo

                                    p
                                        a(class='more-link' href='#')
                                            i(class='fas fa-external-link-alt')
                                            | More on Linkedin

                    aside(class='education aside section')
                        div(class='section-inner')
                            h2(class='heading') Education
                            div(class='content')
                                div(class='item')
                                    h3(class='title')
                                        i(class='fas fa-graduation-cap')
                                        |  BSc Computer Science
                                    h4(class='university') University of Missouri - St. Louis 
                                        span(class='year') (2017-present)
                                    h4(class='university') St. Charles Community College 
                                        span(class='year') (2015-2017)

                    aside(class='languages aside section')
                        div(class='section-inner')
                            h2(class='heading') Languages
                            div(class='content')
                                ul(class='list-unstyled')
                                    li(class='item')
                                        span(class='title')
                                            strong English:
                                        span(class='level') Native Speaker 
                                            br(class='visible-xs')
                                            i(class='fas fa-star')
                                            |  
                                            i(class='fas fa-star')
                                            |  
                                            i(class='fas fa-star')
                                            |  
                                            i(class='fas fa-star')
                                            |  
                                            i(class='fas fa-star')
                                            |  

                    aside(class='blog aside section')
                        div(class='section-inner')
                            h2(class='heading') Latest Blog Posts
                            div(class='content')

                    aside(class='list music aside section')
                        div(class='section-inner')
                            h2(class='heading') Favourite coding music
                            div(class='content')
                                ul(class='list-unstyled')
                                    li
                                        i(class='fas fa-headphones')
                                        |  
                                        a(href='#') Testing
                                    li
                                        i(class='fas fa-headphones')
                                        |  
                                        a(href='#') Testing
                                    li
                                        i(class='fas fa-headphones')
                                        |  
                                        a(href='#') Testing
                                    li
                                        i(class='fas fa-headphones')
                                        |  
                                        a(href='#') Testing

                    aside(class='credits aside section')
                        div(class='section-inner')
                            h2(class='heading') Credits
                            div(class='content')

        footer(class='footer')
            div(class='container text-center')
                small(class='copyright') Designed with 
                    i(class='fas fa-heart')
                    |  by 
                    a(href='' ) Jared Diehl

        script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js')
        script(defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js' integrity='sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB' crossorigin='anonymous')
        script(src='/js/main.js')
        block scripts